* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: NotoSerifSimplifiedChinese;
  line-height: 1.8;
  letter-spacing: 0.18rem;
  color: var(--main-black);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-black);
}

p {
  margin: 1rem 0;
}

h2.page-title {
  font-size: 2.5rem;
  position: relative;
  margin-left: 3rem;
  font-weight: normal;
  color: var(--main-red);
  &::before {
    content: "#";
    position: absolute;
    left: -3rem;
    top: 50%;
    transform: translateY(-50%);
  }
}