* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: NotoSerifSimplifiedChinese;
  line-height: 1.8;
  letter-spacing: 0.18rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-grey5);
}

p {
  margin: 1rem 0;
}